@import url("https://fonts.googleapis.com/css?family=Sofia");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.sidebar {
    background-color: rgb(248, 74, 161);
    width: 200px;
    height: 120vh;
    font-family: "Sofia", sans-serif;
}

.sidebar nav {
    width: 50vw;
    padding: 2px;
}

.sidebar nav li {
    list-style: none;
    font-size: 28px;
    padding: 35px;
}
.sidebar nav a {
   text-decoration: none;
   color: black;
}


.main {
    /* background-color: url("bg.png"); */
    width: 100%;
}


.container {
    display: flex;
}


.infoContainer {
    /* background-color: url("bg.png"); */
    height: 60vh;
    width: 85vw;
    margin: auto;
    margin-top: 51px;
    display: flex;
    justify-content: flex-end;
}


/* .pic img{
    width: 20vw;
    height: 60vh;
    
} */

.devInfo{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hello{
    font-size: 25px;
    /* color: rgb(248, 74, 161); */
    color: rgb(235, 198, 213);}

.Name{
    font-size: 35px;
    color: rgb(211, 37, 124);}
.about{
    margin-top: 30px;
    font-size: 25px;
    /* color: rgb(248, 74, 161); */
    color: rgb(235, 198, 213);
}
/*          about            */
.me{
    /* color: rgb(235, 198, 213); */
    color: rgb(248, 74, 161);
    font-size: 25px;
}
.about1{
    font-size: 5rem;
    /* color: rgb(248, 74, 161); */
    color: rgb(235, 198, 213);}
    
.fa-linkedin {
    background: #007bb5;
    color: white;
    margin-left: 510px ;
    position: relative;
}
.fa-instagram {
    background: #125688;
    color: white;
    margin-left: 510px ;
}
.fa-youtube{
    background: red;
    color: white;
    margin-left: 510px ;
}
.fa-google{
    background: white;
    color: green;
    margin-left: 510px ;
}